/* ***** FONT AND VARIABLES ***** */
@font-face {
	font-family: 'Figtree';
	src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-display: swap;
}

:root {
	--font-family-primary: 'Figtree', sans-serif;
	--font-size-large: 24px;
	--font-size-med: 16px;
	--font-size-small: 14px;
	--font-line-height: 1.5;
	--font-weight-normal: 500;
	--font-weight-extra-bold: 800;
	--spacing-large: 24px;
	--spacing-regular: 12px;
	--spacing-extrasmall: 4px;
	--color-gray-950: #111111;
	--color-gray-500: #6b6b6b;
	--color-yellow: #f4d04e;
	--color-white: #fff;
}

/* ***** GLOBAL STYLES ***** */
body {
	font-family: var(--font-family-primary);
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size-med);
	line-height: var(--font-line-height);
	color: var(--color-gray-950);
	background-color: var(--color-yellow);
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: var(--color-white);
	width: min-content;
	max-width: 90vw;
	padding: var(--spacing-large);
	border: 1px solid var(--color-gray-950);
	border-radius: 20px;
	box-shadow: 8px 8px 0px 0px rgb(0, 0, 0);

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--spacing-large);
}

.card__image {
	overflow: hidden;

	img {
		border-radius: 10px;
	}
}

.card__description {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var(--spacing-regular);
}

.card__button {
	font-weight: var(--font-weight-extra-bold);
	font-size: var(--font-size-small);
	background-color: var(--color-yellow);
	padding: var(--spacing-extrasmall) var(--spacing-regular);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.card__date {
	font-size: var(--font-size-small);
}

.card__title {
	font-weight: var(--font-weight-extra-bold);
	font-size: var(--font-size-large);

	&:hover {
		cursor: pointer;
		color: var(--color-yellow);
	}
}

.card__text {
	color: var(--color-gray-500);
}

.card__author {
	display: flex;
	align-items: center;
	gap: var(--spacing-regular);

	img {
		width: 32px;
	}

	span {
		font-weight: var(--font-weight-extra-bold);
		font-size: var(--font-size-small);
	}
}
